@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.
// Import Bulma variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// ----- Initial Variables ----- //
$blue: #06bcef;
$pink: #ff8080;
$pink-invert: #fff;
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// ------ Derived Variables ----- //
$primary: $pink;
$primary-invert: $pink-invert;

// Import the rest of Bulma
@import "../node_modules/bulma/bulma";


// ---------------------------------------- //
// ------------- CUSTOM SASS -------------- //



