@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.
// Import Bulma variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

@font-face {
  font-family: "Gunplay W01 Regular";
  src: url("fonts/1413068/238c8719-21d1-4219-b53b-559d0070f12c.eot?#iefix");
  src: url("fonts/1413068/238c8719-21d1-4219-b53b-559d0070f12c.eot?#iefix") format("eot"), url("fonts/1413068/726f6155-556e-4042-847c-cfb31691d019.woff2") format("woff2"), url("fonts/1413068/a981d5bd-91ba-4f06-885a-9fb1d2a230fa.woff") format("woff"), url("fonts/1413068/7b75d27b-1b93-4e56-8bbc-867ecd6eac80.ttf") format("truetype");
}

@font-face {
  font-family: "Gunplay W05_3D";
  src: url("fonts/5102962/e8bc5c2c-ad05-4352-a737-b7faa1879bbf.eot?#iefix");
  src: url("fonts/5102962/e8bc5c2c-ad05-4352-a737-b7faa1879bbf.eot?#iefix") format("eot"), url("fonts/5102962/fdb0cf46-029f-4b3e-b928-de972eb2c82f.woff2") format("woff2"), url("fonts/5102962/118e9dae-f67d-4958-9bdf-02f70a18d36c.woff") format("woff"), url("fonts/5102962/8606c9cc-8be7-4b33-a0d6-6c9976dd3280.ttf") format("truetype");
}

// ----- Initial Variables ----- //
$family-sans-serif: "Helvetica",
"Arial",
sans-serif;

$break-small: 420px;
$break-large: 1200px;

$gunplay: "Gunplay W01 Regular";
$gunplay3D: "Gunplay W05_3D";

// Import the rest of Bulma
@import "../node_modules/bulma/bulma";


// ---------------------------------------- //
// ------------- CUSTOM SASS -------------- //

html {
  background-color: $white;
}

.navbar {
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#navMenu {
  position: relative;
  right: 2%;

  a {
    margin: 0 1.5em 0 1.5em;
  }
}


#landing-title {
  margin: 1em;
  font-family: $gunplay;
  letter-spacing: 0.05rem;
  font-weight: 100; 
  position: relative;

  
  @media screen and (max-width: $break-small) {
    font-size: 24px;
    padding: 1rem 0 0.5rem 0;
    max-width: 75%;
    margin: 0 auto;
  }

  .container {
    text-align: center;
    .title {
      display: inline-block;
      margin: 0 auto;
    }
  }
}

#landing-description {
  margin: 1rem;
}

#gallery-title {
  font-family: $gunplay;
  color: #fafafa;
  letter-spacing: 0.05rem;
  font-weight: 100; 
  margin: 0.6rem 0 0 1rem;
}

.hero-body {
  margin-top: 4em;
  padding: 1rem;

  #call-to-action {
    margin: 1rem;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  #description {
    background-color: #fefefe;
    border: 2px solid $grey-dark;
    border-radius: 5px;
  }

  #landing-gallery-container {
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: $grey-dark;
    border-radius: 5px;
    height: 300px;
    margin: 2em 6rem 2rem 6rem;

    @media screen and (max-width: $break-small) {
      height: 200px;
      margin: 2em 1rem 2rem 1rem;
    }

    #landing-gallery {
      padding: 0rem 1rem 0 1rem;


      .item {
        margin-top: 1rem;
        @media screen and (max-width: $break-small) {
          height: 200px;
        }
      }
    }
  }
}

#landing-icons {
  margin: 4rem 0 0 0;

  @media screen and (max-width: $break-small) {
    margin: 2rem 0 0 0;
  }

  .image {
    @media screen and (max-width: $break-small) {
      position: relative;
      left: 3rem;
    }
  }
  

  .big-icon {
    margin: auto 0;
    position: relative;
    max-width: 12rem;
    right: 1.8rem;
    padding: 1rem;

    @media screen and (max-width: $break-small) {
      max-width: 14rem;
      left: 0rem;
    }
  }
}

.footer {
  margin-top: 4em;
  background-color: $grey-dark;

  a {
    text-decoration: none;
    cursor: pointer;
  }
}
